.headerContainer {
    background-color: var(--primary);
    padding: 36px;
    text-align: center;
    align-items: center;
}

.headerContainer img{
    max-width: 100%;
}

.subTitleText {
    font-size: 20px;
    color: var(--primary-light);
    font-style: italic;
    margin-top: 10px;
    font-weight: 400;
}

.titleText {
    font-size: 36px;
    color: var(--text-light);
    font-weight: 700;
}

.historySection, .futureSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--text-light);
    gap: 20px;
}


.historySection img, .futureSection img {
    width: calc(100% - 20px);
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.historySection h2, .futureSection h2 {
    font-size: 30px;
    color: var(--base);
    margin-bottom: 10px;
}

.historySection p, .futureSection p {
    font-size: 16px;
    color: var(--text);
    margin-bottom: 20px;
}

.coachSection {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: left;
}

.coachSection h2 {
    font-size: 30px;
    color: var(--primary);
    margin-bottom: 10px;
}

.coachSection p {
    font-size: 16px;
    color: var(--text);
    margin-bottom: 20px;
}


.futureSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--text-light);
    gap: 20px;
}


@media only screen and (max-width: 1024px){
    .titleText {
        font-size: 24px;
    }

    .subTitleText {
        font-size: 18px;
    }
}