.headerContainer {
    background-color: var(--primary);
    padding: 36px;
    text-align: center;
    align-items: center;
}

.headerContainer img{
    max-width: 100%;
}

.subTitleText {
    font-size: 20px;
    color: var(--primary-light);
    font-style: italic;
    margin-top: 10px;
    font-weight: 400;
}

.titleText {
    font-size: 36px;
    color: var(--text-light);
    font-weight: 700;
}

.historySection {
    padding: 50px;
}


@media only screen and (max-width: 1024px){
    .titleText {
        font-size: 24px;
    }

    .subTitleText {
        font-size: 18px;
    }
}