:root{
  --base: rgb(30, 29, 32);
  --base-light: rgb(209, 209, 209);
  --primary: rgb(44, 27, 121);
  --primary-light: rgb(169, 156, 227);
  --secondary: rgb(12, 165, 139);
  --text: #808080;
  --text-light: #eee;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--base);
  color: var(--text-light);
}

h1, h2, h3 {
  font-family: 'Work Sans', sans-serif;
}

p {
  font-size: 12px;
  color: var(--base);
}

nav a{
  margin: 0 30px;
  color: var(--text-light);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover{
  color: var(--secondary);
}

nav a.active{
  background-color: var(--text-light);
  color: var(--primary);
  font-weight: 700;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-light);
  visibility: hidden;
  opacity: 0;
  font-size: 30px;
}

@media only screen and (max-width: 1024px){
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--primary);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav{
    transform: none; /*bring back to screen*/
  }

  nav .nav-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  nav a{
    font-size: 20px;
  }
}